@import '../../../styles/variables.scss';
::ng-deep fa {
  i {
    cursor: pointer;
  }
}

.icon-text-btn {
  ::ng-deep fa {
    i{
      position: relative;
      right: -0.5rem;
      top: 1.7rem;
      color: white;
    }
  }
  button {
    padding-left: 2rem;
  }
}
