



<ng-container [ngSwitch]="typeOfButton">
    <ng-container *ngSwitchCase="'iconText'">
        <i class="{{faClass}}"></i>
        <button [type]="type" class="app-button {{className}}" [disabled]="disabled" (click)="handleClick($event)">{{label}}</button>
    </ng-container>
    <ng-container *ngSwitchCase="'icon'">
      <fa name="shopping-cart" (click)="handleClick($event)"></fa>
    </ng-container>
    <ng-container *ngSwitchCase="'button'">
      <button [type]="type" class="app-button {{className}}" [disabled]="disabled" (click)="handleClick($event)">{{label}}</button>
    </ng-container>
</ng-container>
