<form class="p-4" (submit)="onSubmit()" [formGroup]="addEditProductForm">
  <fieldset>
    <legend>Product</legend>
    <span class="ui-float-label mt-4">
      <input id="float-input" type="text" size="30" pInputText [formControl]="addEditProductForm.controls['title']">
      <label for="float-input">Title</label>
    </span>
    <span class="ui-float-label mt-4">
      <input id="float-input" type="text" size="30" pInputText [formControl]="addEditProductForm.controls['description']">
      <label for="float-input">Description</label>
    </span>
    <span class="ui-float-label mt-4">
      <input id="float-input" type="text" size="30" pInputText name="price" [formControl]="addEditProductForm.controls['price']">
      <label for="float-input">Price</label>
    </span>
    <span class="ui-float-label mt-4">
      <input id="float-input" type="text" size="30" pInputText [formControl]="addEditProductForm.controls['category']">
      <label for="float-input">Category</label>
    </span>
    <p-button type="submit" label="Save" class="mt-4" ></p-button>
  </fieldset>
</form>