<p-dataView [value]="data" [paginator]="true" [rows]="10" [sortField]="sortField" [sortOrder]="sortOrder">
  <p-header>
    <ng-content select=".theader"></ng-content>
    <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
    (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown> -->
  </p-header>
  <ng-template let-data pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-12 car-details">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-3" style="text-align:center">
            <img style="width:230px;" src="https://media.wired.com/photos/59bafdf204afdc5248726f5c/master/w_582,c_limit/BMW-TA.jpg">
          </div>
          <div class="ui-g-12 ui-md-4">
            <div class="ui-g-4 ui-sm-6">ID: </div>
            <div class="ui-g-8 ui-sm-6">
              <b>{{data?.id}}</b>
            </div>

            <div class="ui-g-4 ui-sm-6">Title: </div>
            <div class="ui-g-8 ui-sm-6">
              <b>{{data?.title}}</b>
            </div>

            <div class="ui-g-4 ui-sm-6">Description: </div>
            <div class="ui-g-8 ui-sm-6">
              <b>{{data?.description}}</b>
            </div>
            <div class="ui-g-4 ui-sm-6">Price: </div>
            <div class="ui-g-8 ui-sm-6">
              <b>{{data?.price}}</b>
            </div>

            <div class="ui-g-4 ui-sm-6">Category: </div>
            <div class="ui-g-8 ui-sm-6">
              <b>{{data?.category}}</b>
            </div>
          </div>
          <div class="ui-g-12 ui-md-3">
            <app-button label="Quick View" (onClick)="quickView(product)" typeOfButton="iconText" faClass="search" className="btn btn-primary mb-3"></app-button>
            <app-button label="Add to Basket" (onClick)="addToBasket(product)" typeOfButton="iconText" faClass="shopping-cart" className="btn btn-primary"></app-button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <p-footer>
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </p-footer>
</p-dataView>
